<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        text-align: center;
        padding: 50px;
      }
      h1 {
        color: #4caf50;
      }
      p {
        font-size: 18px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortner</h1>

    <% if (locals.id) { %>
    <p>Short ID : <%= locals.id %></p>
    <p>Original URL : <%= locals.redirectURL %></p>
    <p>URL Generated : http://localhost:8001/url/<%= id %></p>
    <% } %>

    <div>
      <form action="/url" method="POST">
        <label>Enter Your Original URL</label>
        <input
          type="text"
          name="url"
          placeholder="https://example.com"
          required
        />
        <button type="submit" id="shortenButton">Shorten URL</button>
      </form>
    </div>

    <!-- <div>
      <% if (typeof urls !== 'undefined' && urls.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>S.no</th>
            <th>Redirect URL</th>
            <th>Short IDs</th>
            <th>Total Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% const groupedUrls = urls.reduce((acc, url) => { if
          (!acc[url.redirectURL]) { acc[url.redirectURL] = { shortIds:
          [url.shortId], clicks: url.visitHistory.length }; } else {
          acc[url.redirectURL].shortIds.push(url.shortId);
          acc[url.redirectURL].clicks += url.visitHistory.length; } return acc;
          }, {}); Object.entries(groupedUrls).forEach(([redirectURL, data],
          index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= redirectURL %></td>
            <td><%= data.shortIds.join(', ') %></td>
            <td><%= data.clicks %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <p>No URLs found</p>
      <% } %>
    </div> -->
  </body>
</html>
